#images {
display: block;
margin: auto;
}

#knappar {
    display:block;
    width: 223px;
    margin: auto;
}

#aktiv {
    text-decoration:underline;
}

.menu {
    border-bottom: 1px solid #333;
}

#wrapfrontimg {
    margin-top: 1%;
    position: relative;
    max-width: 800px;
    max-height: 600px;
    margin:auto;
}

#aboutlarge {
    position:absolute;
    left: 5%;
    top:10%;
    color: #ADADAD;
    width: 35%;
    height: 300px;
    overflow: hidden;
    
}

#aboutsmall {
    position:absolute;
    left: 5%;
    top:10%;
    color: #ADADAD;
    width: 30%;
    /*height: 300px;*/
    overflow: hidden;
    font-family: 'Patrick Hand SC', sans-serif;
    
}

#presentationstext {
    font-size: 1em;
    
    
}