@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);

/*För att utmärka den sidan användaren befinner sig på*/
#aktiv {
    color:white;
}

/*Kod som gäller startsidan och bildspelet*/
#images {
display: block;
margin: auto;
}

#knappar {
    display:block;
    width: 223px;
    margin: auto;
}


#wrapfrontimg {
    margin-top: 1%;
    position: relative;
    max-width: 800px;
    max-height: 600px;
    margin:auto;
}

/*Olika presentations texter för mobil och dataskärm efetrsom för mycket text på den lilla skärmen antingen skymmer bilden eller blir för liten för att vara läsbar*/

#aboutlarge {
    position:absolute;
    left: 5%;
    top:10%;
    color: #ADADAD;
    width: 35%;
    height: 300px;
    overflow: hidden;
    font-family: 'Raleway Dots',sans-serif
    
}

#aboutsmall {
    position:absolute;
    left: 5%;
    top:10%;
    color: #ADADAD;
    width: 40%;
    overflow: hidden;
    
    
}

#presentationstext {
    font-size: 1em;
    
    
}


#cv {
    color: rgb(51, 51, 51);
}

#cv img {
    border: 1px solid #2BA6CB;
}


/*Ikonen för kontaktsidan ska bara visas på storskärm*/

@media only screen and (min-width: 40.063em){
#ikonkontakt {
    height:200px;
    width:200px;
    background-image:url(img/contacticon.png);
}
}

#contact {
    margin-top:1%;
    
}

#contact strong,h4 {
    color:#2BA6CB;
}

iframe {
    border: 0;
}